.box{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .infos{
        margin-right: 20px;
        >div{
            margin-top: 10px;
        }
    }
    .modify{
        margin-right: 20px;
        >input{
            display: block;
            width: 100%;
        }
        >button{
            display: block;
            margin-top: 10px;
        }
    }
}