.box{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #1e4645;
    padding: 0 0 15px 20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #fbfbfb;
    h3{
        color: #333;
    }
    .infos{
        margin-right: 20px;
        >div{
            padding: 15px 0px;
            >span:first-child{
                color: #333;
                display: block;
                font-size: 16px;
                width: 80px;
            }
            >span:last-child{
                flex: 1;
                font-size: 12px;
            }
        }
    }
    .modify{
        margin-right: 20px;
        >input{
            display: block;
            width: 100%;
            height: 28px;
            border: none;
            border-left: 2px solid #44c5c5;
            outline: none;
            background: transparent;
        }
        >button{
            display: block;
            margin-top: 10px;
        }
    }
}